@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Music Store</h1>
    <img src="~/Images/home-showcase.png" />
</div>

<div class="panel panel-default">
    <div class="panel-heading">Artist search</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("ArtistSearch", "Home",
               new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   OnFailure = "searchFailed",
                   LoadingElementId = "ajax-loader",
                   UpdateTargetId = "searchresults",
               }))
        {
            <input type="text" name="q" data-autocomplete-source="@Url.Action("QuickSearch", "Home")" />
            <input type="submit" value="search" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Images/ajax-loader.gif")"
                 style="display:none" />
        }
        <script id="artistTemplate" type="text/html">
            <ul>
                {{#artists}}
                <li>{{Name}}</li>
                {{/artists}}
            </ul>
        </script>
        <div id="searchresults"></div>
    </div>
</div>

<ul class="row list-unstyled" id="album-list">
    @foreach (var album in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            <a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                <img alt="@album.Title" src="@Url.Content( @album.AlbumArtUrl)" />
                <h4>@album.Title</h4>
            </a>
        </li>
    }
</ul>
<div id="dailydeal">
    @Ajax.ActionLink("Click here to see today's special",
    "DailyDeal",
    null,
    new AjaxOptions {
        UpdateTargetId="dailydeal",
        InsertionMode=InsertionMode.Replace,
        HttpMethod="GET"
    },
    new { @class="btn btn-primary"})
</div>
@section Scripts{
    <script src="~/Scripts/App/MusicScripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }